body {
    background-color: white;
    color: black;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }   
}
.dark-mode {
    background-color: black;
    color: white;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

.pagelinks {
    text-decoration-color: blue;
}

.wrap {
    max-width: 1340px;
    margin: 0 auto;
    padding: 20px 40px;
}

img {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 232px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.top-header {
    background-color: black;
    color: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-nav ul :not(:last-child) {
    margin-right: 20px;
}

.main-content {
    display: flex;
}

.main-section {
    background-color: red;
    color: white;
    padding: 20px 40px;
    flex-basis: 70%;
}

.the-article img {
    width: 100%;
    height: auto;
}


.the-article h1 {
    font-size: 32px;
}

.side-bar {
    background-color: green;
    color: white;
    flex-basis: 30%;
    padding: 20px;
}

.side-bar a:hover {
    color: blue;

}

.the-footer {
    background-color: green;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}